<%= form_with(model: [ @topic, @topic.posts.build ], local: true) do |form| %>
  <p>
    投稿:<br>
    <%= form.text_area :text, class: "textarea" %><br>

    投稿者:<%= form.text_field :contributor, class: "textarea" %>
  </p><p>
    <%= form.submit %>
  </p>
<% end %>
