/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #e8e8e8;
}

.main_box {
  margin: auto;
  background-color: #ffffff;
  max-width: 600px;
  min-height: 100vh;
  border: solid,1px,#222222;
  border-radius: 1em;
  padding: 2em;
  box-shadow: 0.2em;
}

table {
  width: 100%;
}

h2 {
  margin-top: 1em;
}

#error_explanation {
  border: solid, 2px, red;
  border-radius: 0.5em;
  padding: 1em;
  width: 100%;
}

.post {
  padding: 1em;
  width:100%;
}
.contributor {
  width:100%;
  text-align:right;
}

.reply {
  width:3em;
}
